<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>Dicionário Tech</title>

    <!-- Favicon   -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Dicionário com os termos mais usados do mundo da tecnologia">
</head>
<body>
<th:block th:include="navbar"></th:block>
<main class="container">
    <p style="text-align:center;" class="mt-2 fs-4 fw-bold">
        Ajude-nos a criar um dicionário com as termos do mundo tech para que todos possam nos entender!!
    </p>
    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(message)}">
        <span th:text="${message}"></span>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" th:if="${not #strings.isEmpty(messageAlert)}">
        <span th:text="${messageAlert}"></span>
    </div>
    <div>
        <form method="post">
            <div class="form-group mb-3">
                <input type="text" class="form-control" name="word" placeholder="Palavra *">
            </div>
            <textarea type="text" class="form-control mb-3" name="meaning" placeholder="Significado *"></textarea>

<!--            <textarea type="text" class="form-control mb-3" name="example" placeholder="Exemplo"></textarea>-->

            <small class="form-text text-muted">(*) Campos obrigatórios</small>
            <br>
            <div class="d-flex justify-content-end">
                <a href="/" class="btn btn-light text-danger" role="button" style="margin-top: 10px;">Cancelar</a>
                <button type="submit" class="btn btn-dark" style="margin-top: 10px;">Publicar</button>
            </div>
        </form>
    </div>
</main>
<th:block th:include="footer"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
