<footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
<!--    <div class="container p-4 pb-0">-->
<!--        &lt;!&ndash; Section: Form &ndash;&gt;-->
<!--        <section class="">-->
<!--            <form action="">-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--                <div class="row d-flex justify-content-center">-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-auto">-->
<!--                        <p class="pt-2">-->
<!--                            <strong>Sign up for our newsletter</strong>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-md-5 col-12">-->
<!--                        &lt;!&ndash; Email input &ndash;&gt;-->
<!--                        <div class="form-outline form-white mb-4">-->
<!--                            <input type="email" id="form5Example29" class="form-control" />-->
<!--                            <label class="form-label" for="form5Example29">Email address</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-auto">-->
<!--                        &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                        <button type="submit" class="btn btn-outline-light mb-4">-->
<!--                            Subscribe-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--            </form>-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Form &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 By:
        <a class="text-white" href="https://twitter.com/_LASalvador">LASalvador</a>
    </div>
    <!-- Copyright -->
</footer>